    :root {
        --max: 1100px;
    }

    * {
        box-sizing: border-box;
        color: white;
    }

    body {
        margin: 0;
        line-height: 1.5;
        font-family: "Fredoka", "Quicksand", sans-serif;
    }

    header,
    footer {
        background: #1800ad;
        padding: 1rem;
        text-align: center;
    }

    h1 {
        color: white;
        font-size: 10px;
    }

    header .logo {
        object-fit: contain;
    }

    main {
        max-width: var(--max);
        margin: 0 auto;
        padding: 1rem;
    }

    .hero {
        background: #1800ad;
        padding: 2rem 1rem;
        text-align: center;
        margin-bottom: 2rem;
        color: white;
        border-radius: 10px;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        max-width: var(--max);
        margin: 0 auto;
        padding: 1rem 0;
    }

    .features article {
        background-color: #1800ad;
        padding: 1rem;
        text-align: center;
        color: white;
        border-radius: 10px;
    }

        @media (max-width: 768px) {
        .features {
            grid-template-columns: 1fr;
        }
    }